

    .avatar-view{
        width: 200px;
        height: 200px;
    }
    .pre-view{
        height: auto;
        width: 40px;
        margin-top: 10px;
        margin-right: 10px;
        border: 1px solid #999;
        border-radius: 3px;
    }
    .row{
        padding: 3px;
    }


